@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Error, buying quantity is more than available quantity.</h2>
<a asp-action="Index" class="btn btn-default">Back</a>